body {
    background-color    : #116466;
}

h1 {
    color           : #D9B08C;
    stroke          : #FFCB9A;
    stroke-width    : 1px;
    stroke-linejoin : round;
    animation       : 2s pulsate infinite;
}

/* Navigation Bar Styles */
.topnav {
    background-color: #116466;
    overflow        : hidden;
}

.topnav a {
    float           : left;
    display         : block;
    color           : #D9B08C;
    text-align      : center;
    padding         : 14px 16px;
    text-decoration : none;
    font-size       : 17px;
}

.topnav a:hover {
    background-color: #D1E8E2;
    color           : #2C3531
}

.topnav a.active {
    background-color: #2C3531;
    color           : #FFCB9A;
}