body {
    margin          : 0;
    background-color: #116466;
}

h1 {
    padding: 40px 0px 40px 0px;
    margin: 0;
    background-color: #2C3531;
    text-align: center;
    color: #FFCB9A;
    font: bold 50px Verdana;
}

/* Navigation Bar Styles */
.topnav {
    overflow        : hidden;
    display         : flex;
    justify-content : center;
}

.topnav a {
    float           : left;
    color           : #FFCB9A;
    text-align      : center;
    padding         : 14px 16px;
    text-decoration : none;
    font            : bold 20px, Verdana;
}

.topnav a:hover {
    background-color: #D9B08C;
    color           : #2C3531;
}

.topnav a.active {
    background-color: #2C3531;
    color           : #FFCB9A;
}

.cd-disk img {
    width: 20%;
    height: 20%;
}