body {
    margin              : 0;
    background-color    : #116466;
}

h1 {
    text-align      : center;
    color           : #D9B08C;
    font            : bold 50px Verdana;
}

/* Navigation Bar Styles */
.topnav {
    background-color: #116466;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.topnav a {
    float           : left;
    background-color: #D1E8E2;
    color           : #2C3531;
    text-align      : center;
    padding         : 14px 16px;
    text-decoration : none;
    font            : bold 20px, Verdana;
}

.topnav a:hover {
    background-color: #FFCB9A;
}

.topnav a.active {
    background-color: #2C3531;
    color           : #FFCB9A;
}